.print-bill
{
  display: none;
}
.bg-img{
    background-image: linear-gradient(rgb(133, 152, 255), rgb(118, 172, 252), rgb(143, 159, 252), rgba(94, 113, 228, 0.397)), url("../../LoginCustomer/images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
