.print-bill
{
  display: none;
}
.bg-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(44, 43, 43, 0.863), rgba(34, 18, 18, 0.37), rgba(217, 222, 247, 0.397)), url("../../LoginCustomer/images/body-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
